*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
}
.form-login{
    margin: auto;
    min-width: 250px;
    width: 50%;
}
.form-login h2{
    text-align: center;
}



.error{
    color: red;
    text-align: center;
    font-size: 12px;
}
