body{
    color: rgb(78, 56, 0);
    background: rgb(241, 241, 241);
     ;
}

#batata{
    text-align: center;

}
h1{
    text-align: center;
    font-size: 3em;
    font-family: "Times New Roman";
    background-color:  whitesmoke;
}
